<h1><%= @task.title %></h1>

<ul>
  <li>
    <i class="fa fa-pencil"></i>
    <%= link_to 'Edit this task', edit_task_path(@task.id) %>
  </li>
</ul>

  <p><%= @task.details %></p>

<ul>
  <% if @task.completed %>
  <li>
    <i class="fas fa-check"></i> This task has been completed!
  </li>
  <% else %>
    <li>
    <i class="fas fa-times"></i> This task is not completed...
    </li>
  <% end %>
</ul>

<%= link_to 'Back to list', tasks_path %>
<br>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<br>

